<h2>商品詳細</h2>
<p>Find me in app/views/admin/items/show.html.erb</p>

<%= @item.name %>
<%= @item.text%>
<%= @item.genre %>
<%= @item.price %>
<%= @item.is_active %>


<%= link_to "編集する", admin_items_edit_path %>
