 <h2><%= @customer.full_name%>さんの会員詳細</h2>

  <label>氏名</label>
  <%= @customer.full_name %>

  <label>フリガナ</label>
  <%= @customer.full_name_kana %>

  <label for="inputIntroduction">郵便番号</label></br>
  <%= @customer.postal_code %>

  <label>住所</label>
  <%= @customer.address %>

  <label>電話番号</label>
  <%= @customer.telephone_number %>

  <label>メールアドレス</label>
  <%= @customer.email %>

  <div class="field">
   <label>会員ステータス</label><br />

   <% if @customer.is_deleted == false %>
   有効
   <% else %>
   退会
   <% end %>
  </div>


  <div class="actions">
    <%= link_to "編集する", edit_admin_customer_path %>
  </div>

<div class="actions">
    <%= link_to "注文履歴一覧を見る", admin_admin_path %>
  </div>