 <h2>注文履歴詳細</h2>

  <label>購入者</label>
  <%= @order.customer.full_name %>

  <label>注文日</label>
  <%= l @order.created_at %>

  <label>配送先</label></br>
  <%= @order.shipping_address %>

  <label>支払方法</label>
  <%= Order.payment_methods_i18n[@order.payment_method] %>

  <label>注文ステータス</label>
  <%= form_with(model: @order,url: admin_order_path(@order), method: :patch)do |f| %>
                <%= f.select :status, Order.statuses_i18n.invert %>
               <%#= f.hidden_field :order_id, value: cart_item.item.id %>
               <!--#この記述↑が正しいのか、フォームで作るのか、よう確認-->
               <!--.invertは数字を文字列に変えてくれる-->
               <%= f.submit "更新" %>
              <% end %></td>