<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  <% if admin_signed_in? %>
            <ul>
               <li>
                <%= link_to admin_items_path %>
                 <span><i>商品一覧</i></span>

                </li>
                <li>
                  <%= link_to admin_customers_path %>
                  <span><i>会員一覧</i></span>

                </li>

                <li>
                  <%= link_to  admin_admin_path %>
                  <span><i>注文履歴一覧</i></span>

                </li>

                <li>
                  <%= link_to admin_genres_path %>
                  <span><i>ジャンル一覧</i></span>

                </li>
                <li>
                  <%= link_to destroy_admin_session_path, method: :delete %>
                  <span><i>ログアウト</i></span>

                </li>
              </ul>
  <% elsif customer_signed_in? %>
              <ul>
                <li>
                  <%= link_to customer_path(curret.user.id) %>
                  <span><i>マイページ</i></span>

                </li>
                <li>
                  <%= link_to items_path %>
                  <span><i>商品一覧</i></span>
                </li>

                <li>
                  <%= link_to cart_items_path %>
                  <span><i>カート</i></span>

                </li>
                <li>
                  <%= link_to destroy_customer_session_path, method: :delete %>
                  <span><i>ログアウト</i></span>

                </li>
              </ul>

  <% else %>
              <ul>
                <li>
                  <%= link_to about_path %>
                  <span><i>About</i></span>

                </li>
                <li>
                  <%= link_to items_path %>
                  <span><i>商品一覧</i></span>
                </li>

                <li>
                  <%= link_to new_customer_registration_path %>
                  <span><i>新規登録</i></span>

                </li>
                <li>
                  <%= link_to new_customer_session_path %>
                  <span><i>ログイン</i></span>

                </li>
              </ul>

  <% end %>
  </header>
    <%= yield %>
  </body>
</html>
